.container{
    background-color: lightblue;
    height: 400px; 
    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap-reverse; */
    flex-flow: row wrap;
    justify-content: center;
    /* align-items: center; */
    align-content: center;
    /* row-gap: 10px;
    column-gap: 30px; */
    gap: 10px 30px
}

.container .item{
    width: 20%;
    background-color: blue;
    font-size: 20px;
    color: white;
    padding: 20px;
    border: 1px solid black;
    margin: 2px;
}