div{
    width: 300px;
    height: 300px;
    background-color: blue;
    /* transform: translate(30px, 50px); */
    /* transform: rotate(45deg) ; */
    /* transform: scale(1.1); */
    /* transform: skew(20deg); */
    /* transform: translateX(30px); */
    /* transform: translateY(100px); */
    /* transform: translateZ(100px); */
    transform: matrix(2, 3, 1, 0, 1, 3);
}